  .faq-background {
    background: rgba(28, 13, 54,1);
    background-image: url('../../../public/images/backgrounds/BackgroundFaq.png');
    background-size: 100% 100%;
    width: 100%;
    padding: 1vh 0;
  }
  
  .faq-content {
    padding: 5vh 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-content: flex-start;
    flex-grow: 1;
  }

  .faq-div {
    width: 50%;
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .faq-button {
    background-color: transparent;
    border: none;
  }

  .faq-bullet {
    display: flex;
    align-items: center;
  }

  .bullet-img {
    width: 15px;
    height: 15px;
    display: inline-block;
  }

  .faq-question {
    display: inline-block;
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-left: .5vw;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }

  .faq-question:hover {
    font-weight: 900;
    cursor: pointer;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    padding-left: calc(15px + 1vw);
    padding-top: .5vw;
    text-align: left;
    color: #fff;
  }

  .faq-answer p {
    padding-bottom: 2vw;
    font-size: 1.2rem;
    font-weight: 500;
  }

/*   .faqcontent {
    padding: 78px 0px;
    padding: 78px 400px;
    max-height: 45vh;
    width: 100%;
    background: rgba(28, 13, 54,1);
    background-image: url('../../../public/images/backgrounds/BackgroundFaq.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }

  .column {
    flex: 50%;
  }

  .test {
    display: flex;
  }

  .accordianButton {
    background-color: transparent;
    border: none;
  }

  .accordianContent {
    color: #ffffff;
    text-align: left;
    padding-bottom: 24px;
    vertical-align: top;
  }

  .accordianContent * {
    color: #ffffff;
    text-align: left;
  }

  .bullet {
    padding-right: 10px;
  }
  
  .accordianQuestion {
    font-size: 20px;
    font-weight: bold;
  }

  .accordianAnswer {
    font-size: 18px;
  } */