.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
  }

  .title {
    font-size: 72px;
    background: linear-gradient(45deg, rgba(255,82,210,1) 0%, rgba(135,50,255,1) 63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1em;
  }

  .faqcontent {
    padding: 78px 0px;
    /*max-height: 45vh;*/
    width: 100%;
    background: rgba(28, 13, 54,1);
    background-image: url('../../../public/images/backgrounds/BackgroundFaq.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }

  .column {
    flex: 50%;
  }

  /* Accordian css */

  .test {
    display: flex;
  }

  .accordianButton {
    background-color: transparent;
    border: none;
  }

  .accordianContent {
    color: #ffffff;
    text-align: left;
    padding-bottom: 24px;
    vertical-align: top;
  }

  .accordianContent * {
    color: #ffffff;
  }

  .bullet {
    padding-right: 10px;
  }
  
  .accordianQuestion {
    font-size: 20px;
    font-weight: bold;
  }

  .accordianAnswer {
    font-size: 18px;
  }