.navbar {
	width: 100%;
	display: flex;
	padding: 1.25em 1.75em;
	position: fixed;
	z-index: 99;
    background: url('../../../public/images/backgrounds/BackgroundNav.png');
    background-size: contain;
    background-color: #0F0420;
}

.logo {
	width: 2em;
	height: 2em;
	position: fixed;
	top: 1.25em;
	left: 1.75em;
	z-index: 99;
}

.icon {
	margin-left: auto;
	cursor: pointer;
	z-index: 99;
}

.container {
	position: fixed;
	z-index: 98;
	height: 100%;
	width: 100%;
	background-color: #0f0420;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.25em 1.75em;
	gap: 2em;
	transition: all 0.4s ease-in-out;
}

.iconContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
}

.navbarOption {
	font-size: 2em;
	color: #9686ac;
	font-weight: 500;
}

.navbarOption:hover {
	text-decoration: underline;
	color: #e9e6ee;
}

.registerButton {
	padding: 0.5em 1.5em;
	background-color: transparent;
	border: #ff52d2 2px solid;
	border-radius: 2em;
	color: white;
	font-size: 1.3em;
	font-weight: 500;
	display: inline-block;
	background: linear-gradient(to left, transparent 50%, #ff52d2 50%) right;
	background-size: 202% 100%;
}

.registerButton:hover {
	background-position: left;
	transition: all 0.75s ease;
	cursor: pointer;
}

.socials {
	display: flex;
	gap: 2em;
	margin-top: 2em;
}

.socials a img {
	height: 1.5em;
}
