.navbar {
    background-color: #33333365;
    padding: 10px 0;
}
  
.container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
height: 50px;
}

.logo {
text-decoration: none;
color: white;
margin-right: 20px;
}

.logo a img {
width: 50px;
height: auto; 
}

.icon {
text-decoration: none;
color: white;
}

.socialitem{
    margin-right: 20px;
}

.icon a img {
width: 20px;
height: auto; 
}

.list,
.social {
list-style: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}



.item {
margin-left: 20px;
margin-right: 20px;
}

.buttons {
text-decoration: none;
color: white;
font-weight: bold;
}

.buttons:visited{
    color: white;
}

.buttons:hover {
text-decoration: none;
}
  
.banneritem{
    overflow: visible;
}

.apply{
    margin-left: 20px;
    border: 2px solid #c726b9;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.applybutton{
    text-decoration: none;
}

.applybutton:visited{
    color: white;
}

/* FIXME : kinda hardcoded right now*/
.banneritem a img{
    overflow: visible;
    margin-top: 120px;
}