.becomeButtonContainer {
    width: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5em;
}

.becomeButton {
	padding: 0.5em 1.5em;
	background-color: transparent;
	border: #ff52d2 2px solid;
	border-radius: 2em;
	color: white;
	font-size: 1.3em;
	font-weight: 100;
	display: inline-block;
	background: linear-gradient(to left, transparent 50%, #ff52d2 50%) right;
	background-size: 202% 100%;
}

.becomeButton:hover {
	background-position: left;
	transition: all 0.75s ease;
	cursor: pointer;
}

.sponsorContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imgBG::before {
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: -2px;
    left: -4px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fd52d3, #1022e8);
    border-image-slice: 1;
}

.sponsorImgLarge {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.sponsorImgLarge img {
    background-color: white;
    width: 20vw;
    height: 10vw;
}

.sponsorImgMedium {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.sponsorImgMedium img {
    background-color: white;
    width: 15vw;
    height: 8vw;
}

.sponsorImgSmall {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.sponsorImgSmall img {
    background-color: white;
    width: 10vw;
    height: 5vw;
}