@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Ubuntu';
	scroll-behavior: smooth;
	scroll-margin: 3em;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #190b2d;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #f3eaff;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c8c2d1;
}
