.main {
	/* overflow-y: hidden; */
}

.background {
	position: absolute;
	z-index: 0;
	object-fit: cover;
    min-height: 600vh;
}

.section {
	min-height: 100vh;
	padding-top: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em;
}

.fillerText {
	color: #9686ac;
	font-size: 1.5em;
}

.smallGuySection {
	display: flex;
	margin-left: 10em;
}

.separate {
	margin-top: 20em;
}

.leftBlur {
    position: absolute;
    /* bottom: -10em; */
    top: 20em;
    left: 0;
    z-index: 0;
}
.rightBlur {
    position: absolute;
    top: -10em;
    right: 0;
    z-index: 0;
}